.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  background: linear-gradient(40deg, black, white);
}

.containerBlack {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  background-color: black;
  transition: background-color 4s ease;
}

.youdied {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 7vw;
  color: red;
  opacity: 0;
  animation: fadeIn 5s ease-in-out forwards, fadeOut 5s ease-in-out forwards 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    font-size: 10vw;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
