
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.loader {
  /* display: inline-block; */
  position: absolute;
  left: 43%;
  top: 30%;
  width: 15rem;
  height: 10rem;
  text-align: center;
  /* &_text {
    position: relative;
    top: 72%;
    margin: auto;
    font-size: 1.2rem;
  } */
}
.loader:after {
  content: ' ';
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-color: #ffffff transparent #000000 transparent;
  animation: animateLoader 1.2s linear infinite;
  /* background: linear-gradient(45deg, black, white); */
}

@keyframes animateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}