$bit-size: 50px;

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// html,
// body {
//   height: 100%;
// }

#bomberman-root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #107830;
  height: 100%;
}

.walk-tile {
  height: $bit-size;
  width: $bit-size;
  content: url('./assets/map/walkTile.png');
}

.map-row {
  display: flex;
}

.indestructible-wall {
  height: $bit-size;
  width: $bit-size;
  content: url('./assets/map/indestructibleWall.png');
}

.gameContainer {
  position: relative;
}

.player1 {
  position: absolute;
  left: 50px;
  top: 50px;
  height: $bit-size;
  width: $bit-size;
}
.player2 {
  height: $bit-size;
  width: $bit-size;
  content: url('./assets/map/indestructibleWall.png');
}
.player3 {
  height: $bit-size;
  width: $bit-size;
  content: url('./assets/map/indestructibleWall.png');
}
.player4 {
  height: $bit-size;
  width: $bit-size;
  content: url('./assets/map/indestructibleWall.png');
}
