.bombermanLobby {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: auto;
  width: 90%;
  height: 80vh;
  border: 1px solid white;
}

.lobbyList {
  width: 25%;
  border-right: 1px solid white;
}

.lobbyTitle {
  color: white;
  padding: 0 1rem;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  text-align: center;
}

.lobbyListName {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.lobbyUserList {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.lobbyUsers {
  margin: auto;
  color: white;
  padding: 1rem;
}

.lobbyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lobbyButtons {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
}

.lobbyJoin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background-color: black;
  margin: 0.2rem;
  border-radius: 4px;
  width: 15rem;
  height: 3rem;
  border: 2px solid transparent;
  font-size: inherit;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.joinQueue {
  position: absolute;
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid transparent;
}

.joinQueue:hover {
  transition: 0.2s;
  border: 2px solid white;
}

.gameCounter {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 10%;
  margin-top: 50px;
}

.gameInfo {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  position: absolute;
  top: 4%;
  font-weight: bolder;
}

/* chat */

.lobbyChatBox {
  overflow: auto;
}

.lobbyChat {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
  margin-top: auto;
  margin-right: auto;
  width: 74%;
  height: 40%;
  color: white;
}

.lobbyChatInput {
  display: flex;
  margin-top: auto;
  width: 100%;
}

.lobbyChatWindow {
  color: white;
  margin: auto;
}

.lobbyChatRow{
    display: flex;
    flex-direction: column;
    margin:0.5rem 2rem;
    padding:0 1rem;
}

.lobbyChatEmail{
  display: flex;
  color: rgb(219, 219, 219);
  margin: 0.25rem;
  text-decoration: none;
}

.lobbyChatProfileContent{
  display: flex;
  flex-direction: row;
}

.lobbyChatProfileContentMirrored{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.textContentMirrored{
  background-color: rgb(131, 131, 131);
  display: flex;
  align-items: flex-end;
  border-radius: 1.0rem;
  padding: 0.5rem;
}

