.menu {
  position: absolute;
  top: 0rem;
  right: 1rem;
  margin: 1rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.linkButton:nth-child(6) {
  position: absolute;
  display: flex;
  background: none;
  color: white;
  width: 4.5rem;
  top: 1rem;
  height: 4.5rem;
  right: 5rem;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: 2px solid black;
  transition: 1s;
}

.menu:hover .linkButton:nth-child(6) {
  transition: 1s;
  border-radius: 4px;
  width: 15rem;
  height: 3rem;
  top: 2.9rem;
  right: 0.1rem;
}

.menu:hover .linkButton:nth-child(6) img {
  width: auto;
  height: 3rem;
  margin: auto;
  left: 0;
}

.menu:hover .userName {
  padding: 0 0.5rem;
  margin: auto;
  display: flex;
}

.linkButton:nth-child(6) .userName {
  display: none;
  color: black;
}

.menu:hover .linkButton p {
  display: flex;
}

.linkButton:nth-child(6) img {
  position: relative;
  transition: 1s;
  height: 4.5rem;
  width: auto;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  color: white;
  cursor: pointer;
  background-color: black;
  margin: 0.1rem;
  border-radius: 4px;
  width: 15rem;
  height: 3rem;
  border: 2px solid transparent;
  font-size: inherit;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}

.linkButton:hover {
  transition: 0.2s;
  border: 2px solid white;
}

.active {
  border: 2px solid red !important;
}

.transition {
  border: 3px solid yellow;
}

.glowing {
  transition: 2s;
  margin-bottom: 1rem;
  animation: notification-glow 3s infinite;
}

@keyframes notification-glow {
  0% {
    background: white;
    color: black;
    opacity: 1;
  }
  50% {
    background: black;
    color: white;
    opacity: 0;
  }
  100% {
    background: white;
    color: black;
    opacity: 1;
  }
}
